Repository duilio/cfgman: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-readme, format-md-codeblocks

generate-readme:
  name: generate-readme
  stages:
  - commit
  language: system
  entry: ./scripts/generate-readme
  pass_filenames: false

format-md-codeblocks:
  name: format-md-codeblocks
  stages:
  - commit
  language: system
  entry: poetry run ./scripts/format-md-codeblocks
  pass_filenames: true

fix wildcard in gh release create command
  scripts/publish
Due: generate-readme

fix wrong shell=True arg to subprocess in publish script
  pyproject.toml
  scripts/publish
Due: generate-readme

fix version title for <1.0.0 releases
  scripts/publish
Due: generate-readme

add link to the release notes
  mkdocs.yml
Due: none

add link to release action in github in the doc
  docs/contributing.md
Due: format-md-codeblocks

fix gh-pages fetch in release deployment
  .github/workflows/release.yml
Due: none

fix git username in github release deployment
  .github/workflows/release.yml
Due: none

bump version to 0.2.1
  pyproject.toml
Due: none

add debug workflow
  .github/workflows/debug.yml
Due: none

Path conditions:
  generate-readme: any of: scripts/*
  format-md-codeblocks: any of: \.(md|markdown|mdown)$
